.form {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.form__title {
    font-size: 24px;
    margin-bottom: 2rem;
}

.form__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__label {
    display: block;
    margin-bottom: 5px;
}

.form__input {
    outline: none;
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--primary-text-color);
}

.form__input::placeholder {
    color: var(--secondary-text-color);
}

.form__input:focus {
    border-bottom: 1px solid var(--hover-color);
}

.form__input:active {
    border-bottom: 1px solid var(--hover-color);
}

.form__button {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: var(--first-color);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2rem;
}

.form__button:hover {
    background-color: var(--hover-color);
}

.form__toggle {
    margin-top: 10px;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}