.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header__logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.header__logo:hover {
    background-color: var(--hover-color);
}

.header__button-container {
    display: flex;
    gap: 10px;
}

.header__button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.header__button:hover {
    background-color: var(--hover-color);
}

.header__button:focus {
    background-color: var(--secondary-color);
}